<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
</head>

<body>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="modalInfo">Information</h2>
    </div>
    <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
            <li role="presentation"><a href="#datainfo" aria-controls="datainfo" role="tab" data-toggle="tab">Data Info</a></li>
            <li role="presentation"><a href="#links" aria-controls="links" role="tab" data-toggle="tab">Links</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="about">
                <h3>About</h3>
                <p>Explore the site to find details about school performance and more.</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="datainfo">
                <h3>AzMERIT</h3>
                <p><strong>AzMERIT</strong> - Arizona's Measurement of Educational Readiness to Inform Teaching</p>
                <p>AzMERIT is Arizona's new Statewide Achievement Assessment for English Language Arts and Mathematics. In 2010, the Arizona State Board of Education adopted new standards in English language arts and mathematics for all students in Arizona. These academic standards outline what students should know and be able to do at each grade level. With the adoption and implementation of new standards, a new test was necessary.</p>
                <p>In November 2014, the Arizona State Board of Education adopted a new statewide achievement test, AzMERIT, for Arizona students. AzMERIT, based on the new standards, will tell teachers, students, and parents if students are on track to be college and career ready upon graduation from high school.</p>
                <p>Arizona public school students in Grades 3 through high school will take AzMERIT. Students in Grades 3 through 8 will take an assessment in English language arts and mathematics at their grade level. Students taking high school level English and mathematics will take End-of-Course assessments that will test their proficiency in these subjects. Students will take AzMERIT in the spring of 2015.</p>
                <p><strong>ELA</strong> – Arizona administers statewide achievement tests in the content area of English language arts (ELA) to measure student proficiency on the state academic standards. Students participate in AzMERIT ELA testing in grades 3-8 and when enrolled in high school level (grades 9 – 11) English language arts courses. Students with significant cognitive disabilities who are unable to participate in AzMERIT ELA even with accommodations participate in NCSC ELA testing in grades 3-8 and 11.</p>
                <p><strong>MATH</strong> - Arizona administers statewide achievement tests in the content area of math to measure student proficiency on the state academic standards. Students participate in AzMERIT math testing in grades 3-8 and when enrolled in Algebra I, Geometry, and Algebra II or their equivalents. Students with significant cognitive disabilities who are unable to participate in AzMERIT math even with accommodations participate in NCSC math testing in grades 3-8 and 11.</p>
                <h4>AzMERIT Scores</h4>
                <table class="table table-striped">
                    <tr>
                        <th>Levels</th>
                        <th>Assessment</th>
                    </tr>
                    <tr>
                        <td>Minimally Proficient</td>
                        <td>Minimal understanding, highly likely to need support to be ready</td>
                    </tr>
                    <tr>
                        <td>Partially Proficient</td>
                        <td>Partial understanding, likely to need support to by ready</td>
                    </tr>
                    <tr>
                        <td>Proficient</td>
                        <td>Strong understanding, likely to be ready</td>
                    </tr>
                    <tr>
                        <td>Highly Proficient</td>
                        <td>Advanced understanding, highly likely to be ready</td>
                    </tr>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="links">
                <h3>Helpful Links</h3>
                <p>This links are resources and references for more information on Arizona schools and testing.</p>
                <ul>
                    <li><a href="http://www.azed.gov/standards-practices/">Arizona Academic Standards</a></li>
                    <li><a href="http://www.azed.gov/">Arizona Department of Education</a></li>
                    <li><a href="https://www.azreportcards.org/">Arizona Report Cards</a></li>
                    <li><a href="http://www.azed.gov/research-evaluation/data/">ADE Research & Evaluation</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
